<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>郵便番号検索</title>
    </head>
    <body style="margin-top:0px;">
        <div id="app">
            <div style="position: absolute;" id="listbox">
                <div v-for="item in addressList">
                    <a v-bind:href="item.url" v-bind:target="item.target">
                        {{ item.zipCode }} {{ item.prefecture }} {{ item.city }} {{ item.machi }} {{ item.kana }}
                    </a>
                </div>
            </div>
            <div style="position: fixed; background-color: white; padding-bottom: 5px;" id="topbox">
                <div>郵便番号検索</div>
                <input type="text" v-model="zipCode" placeholder="郵便番号を入力" />
                <button type="button" v-on:click="handleZipCodeToAddressClick">郵便番号から住所を検索</button>
                <select name="pref" v-model="prefecture">
                    <option v-for="item in prefectureList" v-bind:value="item.code">{{ item.name }}</option>
                </select>
                <input type="text" v-model="address" placeholder="住所を入力" />
                <button type="button" v-on:click="handleAddressToZipCodeClick">住所から郵便番号を検索</button>
                target _self
                <input type="checkbox" v-model="isInAppBrowser" />
            </div>
        </div>
        <script src="scripts/vue.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="scripts/main.js"></script>
    </body>
</html>
