<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="decode2019.jzipcodesample.jzipsearch">
	<uses-sdk android:minSdkVersion="19" android:targetSdkVersion="27" />
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:label="JZipSearch" android:allowBackup="true" android:icon="@mipmap/ic_launcher" android:roundIcon="@mipmap/ic_launcher_round" android:supportsRtl="true" android:usesCleartextTraffic="true"></application>
</manifest>